name: Library Management System CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: 
          - "3.12"
          - "3.13"

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      

      - name: Install Flask
        run: |
          python3 -m venv venv
          source venv/bin/activate
        
      - name: Install Dependencies
        run: |
          python3 -m pip install -r requirements.txt
          playwright install --with-deps

      - name: Run tests
        run: |
          python3 resetdata.py
          pytest --cov --cov=library_service --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
